<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>

    <Appenders>
        <RollingFile name="RollingAppender"
                     fileName="JoydaNotificationLogs/${date:dd-MM-yyyy hh-mm} logs.log"
                     filePattern="JoydaNotificationLogs/app.%d{dd-MM-yyyy-HH-mm}.log"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy />
        </RollingFile>
    </Appenders>

    <Loggers>
<!--        <Logger name="com.progressivecoder.loggingdemo" level="INFO" additivity="false">-->
<!--            <AppenderRef ref="RollingAppender"/>-->
<!--        </Logger>-->

        <Root level="INFO">
            <AppenderRef ref="RollingAppender"/>
        </Root>
    </Loggers>
</Configuration>